.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.carta {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

/* Apartados adicionales */

@keyframes girar {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.animacion-carta {
  animation: girar 0.6s;
}

/* 3. Mostrar un efecto hover cuando el usuario ponga el ratón sobre una carta. */
.carta:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}